@model MASFlightBooking.Domain.ViewModels.CreateBookingViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Flight</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BookedDate" class="form-control" />
                <input type="hidden" asp-for="Id" class="form-control" />


           @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="BookedDate" class="control-label"></label>
                <input asp-for="BookedDate" class="form-control" />
                <span asp-validation-for="BookedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FlightDate" class="control-label"></label>
                <input asp-for="FlightDate" class="form-control" />
                <span asp-validation-for="FlightDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    Departure
                    <br />
                    <p>
                       <select name ="Departure">
                            <option>None</option>
                            <option>Lagos_LOS</option>
                            <option>Abuja_ABV</option>
                            <option>Anambra_ANA</option>
                            <option>Portharcourt_PHC</option>
                            <option>Enugu_ENU</option>
                            <option>Ilorin_ILR</option>
                            <option>Kaduna_KAD</option>
                            <option>Kano_KAN</option>
                            <option>Sokoto_SKO</option>
                       </select>
                   </p>
                </label>
               @* <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>*@
            </div>
            <div class="form-group">

                <label>
                    Destination
                    <br />
                     <p>
                     <select name ="Destination">
                            <option>None</option>
                            <option>Lagos_LOS</option>
                            <option>Abuja_ABV</option>
                            <option>Anambra_ANA</option>
                            <option>Portharcourt_PHC</option>
                            <option>Enugu_ENU</option>
                            <option>Ilorin_ILR</option>
                            <option>Kaduna_KAD</option>
                            <option>Kano_KAN</option>
                            <option>Sokoto_SKO</option>
                     </select>
                </p>
                    </label>
                    @*asp-for="Destination" class="control-label">*@
                @*<input asp-for="Destination" class="form-control" />*@
                @*<span asp-validation-for="Destination" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label>
                    Trip Type
                    <br />
                     <p>
                     <select name ="Trip_Type">
                            <option> None</option>
                            <option> RoundTrip </option>
                            <option> OneWay</option>
                     </select>
                </p>
                    </label>
               @* <label asp-for="TripType" class="control-label"></label>
                <input asp-for="TripType" class="form-control" />
                <span asp-validation-for="TripType" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="AirlineId" class="control-label"></label>
                <input asp-for="AirlineId" class="form-control" />
                <span asp-validation-for="AirlineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightCategoryId" class="control-label"></label>
                <input asp-for="FlightCategoryId" class="form-control" />
                <span asp-validation-for="FlightCategoryId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="PassangerInfo.Name" class="control-label"></label>
                <input asp-for="PassangerInfo.Name" class="form-control" />
                <span asp-validation-for="PassangerInfo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassangerInfo.Address" class="control-label"></label>
                <input asp-for="PassangerInfo.Address" class="form-control" />
                <span asp-validation-for="PassangerInfo.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassangerInfo.PhoneNumber" class="control-label"></label>
                <input asp-for="PassangerInfo.PhoneNumber" class="form-control" />
                <span asp-validation-for="PassangerInfo.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassangerInfo.Email" class="control-label"></label>
                <input asp-for="PassangerInfo.Email" class="form-control" />
                <span asp-validation-for="PassangerInfo.Email" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PassangerInfo.MaturityLevel" class="control-label"></label>
                <input asp-for="PassangerInfo.MaturityLevel" class="form-control" />
                <span asp-validation-for="PassangerInfo.MaturityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKin.Name" class="control-label"></label>
                <input asp-for="NextOfKin.Name" class="form-control" />
                <span asp-validation-for="NextOfKin.Name" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="NextOfKin.PhoneNumber" class="control-label"></label>
                <input asp-for="NextOfKin.PhoneNumber" class="form-control" />
                <span asp-validation-for="NextOfKin.PhoneNumber" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="NextOfKin.Relationhsip" class="control-label"></label>
                <input asp-for="NextOfKin.Relationhsip" class="form-control" />
                <span asp-validation-for="NextOfKin.Relationhsip" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="NextOfKin.Address" class="control-label"></label>
                <input asp-for="NextOfKin.Address" class="form-control" />
                <span asp-validation-for="NextOfKin.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Save" class="btn btn-secondary" />
                 <a asp-action="Index" class = "btn btn-secondary">&lt;&lt; Back to List</a>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
